@using BanHangTTCS.Models;
@model ItemGioHang

@{
    ViewBag.Title = "SuaGioHang";
    Layout = "~/Views/Layout/ProductLayout.cshtml";
}
@{
    List<ItemGioHang> listGH = ViewBag.GioHang as List<ItemGioHang>;
}
<div class="cart__title">
    <div>

        <p>Giỏ Hàng Của Bạn (@ViewBag.TongSoLuong) </p>
    </div>
    <div>
        <button>Tiếp tục mua sắm</button>
    </div>
</div>
<div class="cart">
    <div>
        @foreach (var item in listGH)
        {
            if (Model.MaSP == item.MaSP)
            {
                using (Html.BeginForm("CapNhatGioHang", "GioHang"))
                {

                    <div class="cart__item">
                        <div class="cart__item-detail">
                            <div class="item-detail__img">
                                <img src="@Url.Content("~/Content/image/product/"+item.HinhAnh)" alt="">
                            </div>
                            <div class="item__detail-info">
                                <div class="detail-info__list">
                                    <div>
                                        <p>Tên Sản Phẩm : @item.TenSP @Html.Hidden("MaSP", item.MaSP)</p>
                                    </div>
                                    <div>
                                        <p>Mã Sản Phẩm : @item.MaSP</p>
                                    </div>
                                    <div>
                                        <p>Đơn Giá : @item.DonGia</p>
                                    </div>
                                    <div>

                                        <p>Số Lượng : @Html.TextBox("SoLuong", item.SoLuong)</p>
                                    </div>
                                    <div>
                                        <p>Thanh tien : @item.ThanhTien.ToString("#,##")</p>
                                    </div>
                                    <div>
                                        <input type="submit" value="Caap nhat1" />
                                    </div>
                                </div>
                                <div class="detail-info__action">
                                    <div>
                                        <button>Xoá</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            }
            else
            {
                <div class="cart__item">
                    <div class="cart__item-detail">
                        <div class="item-detail__img">
                            <img src="@Url.Content("~/Content/image/product/"+item.HinhAnh)" alt="">
                        </div>
                        <div class="item__detail-info">
                            <div class="detail-info__list">
                                <div>
                                    <p>Tên Sản Phẩm : @item.TenSP</p>
                                </div>
                                <div>
                                    <p>Mã Sản Phẩm : @item.MaSP</p>
                                </div>
                                <div>
                                    <p>Đơn Giá : @item.DonGia</p>
                                </div>
                                <div>
                                    <p>Số Lượng : @item.SoLuong</p>
                                </div>
                                <div>
                                    <p>Thanh tien : @item.ThanhTien.ToString("#,##")</p>
                                </div>
                            </div>
                            <div class="detail-info__action">
                                <div>
                                    <button>Xoá</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="cart__item">
                    <p>
                        @Html.ActionLink("sua gio hang", "SuaGioHang", new { @MaSP = item.MaSP })
                    </p>
                </div>*@
            }

        }
        <div class="cart__item">

        </div>
    </div>
    <div>
        <div class="cart__price">
            <p class="cart__price-title">CHI TIẾT GIỎ HÀNG</p>
            <div class="cart__price-detail">
                <div>
                    <p>Tổng Các Sản Phẩm : </p>
                    <p>Giảm Giá : </p>
                    <p>Phí Vận Chuyển : </p>
                </div>
                <div>
                    <p>()</p>
                    <p>()</p>
                    <p>()</p>
                </div>
            </div>
            <hr>
            <div class="price-total">
                <p>Tổng : </p>
                <p>()</p>
            </div>
            <div class="cart__price-discount">
                <p class="price-discount__title">Mã Giảm Giá</p>
                <div class="price-discount">
                    <div>
                        <p class="price-discount__display">Hiển thị mã giảm giá</p>
                    </div>
                    <div>
                        <button>Áp Mã Giảm Giá</button>
                    </div>
                </div>
            </div>
            <div class="cart__price-button">
                <button>Đặt Hàng</button>
            </div>
        </div>
    </div>
</div>



